# modelos
*.keras
*.h5
*.pb

# datos (carpetas)
Tapabocas-lujo/
mal-puesto/
mala-calidad/
oclusion/
sin-tapabocas/
tapabocas/

# numpy
*.npy

# python
__pycache__/
*.pyc

# notebooks checkpoints
.ipynb_checkpoints/
.cache/
__pycache__/
*.pyc
.ipynb_checkpoints/
.*
!.gitignore
mask-dataset-bucket/
model_mask_covid/
*.jsonl
notebook_template*
*.json
tapabocas-tendencias/
Untitled.ipynb
